name: init

services:
  redis:
    image: redis:8.2.0
    ports:
      - "8000:6379"
    volumes:
      - ./.data/redis-data:/data

  postgres:
    image: postgres:17
    ports:
      - "8001:5432"
    environment:
      POSTGRES_DB: main
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./.data/postgres:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    ports:
      - "8002:9000"
      - "8003:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - ./.data/minio:/data
    command: server /data --console-address ":9001"

  inngest:
    image: inngest/inngest:v1.16.0
    command: "inngest dev -u http://host.docker.internal:3000/workflows --poll-interval 60" # Check for new workflows every 60 seconds
    ports:
      - "8004:8288"
