name: init

services:
  redis:
    image: redis:8.2.0
    ports:
      - "8079:6379"
    volumes:
      - ./.data/redis-data:/data

  postgres:
    image: postgres:17
    ports:
      - "8080:5432"
    environment:
      POSTGRES_DB: main
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./.data/postgres:/var/lib/postgresql/data
