name: init

services:
  redis:
    image: redis:8.2.0
    ports:
      - "8079:6379"
    volumes:
      - ./.data/redis-data:/data

  postgres:
    image: postgres:17
    ports:
      - "8080:5432"
    environment:
      POSTGRES_DB: main
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./.data/postgres:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    ports:
      - "8081:9000"
      - "8082:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - ./.data/minio:/data
    command: server /data --console-address ":9001"
