---
  import { baseLocale, type Locale } from "@init/internationalization/runtime"
  import "@init/ui/globals.css"

  type Props = {
    lang?: Locale
  }

  const { lang } = Astro.props
---
<!doctype html>
<html lang={lang || baseLocale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Init</title>
  </head>
  <body>
    <slot />
  </body>
</html>
